.btn-first {
  border: 3px solid black;
  border-radius: 10px;
  height: 75px;
  text-align: center;
  font-size: 45px;
  border-spacing: inherit;
}

#shoppingForm, #pantryForm {
  display: none;
}

#shoppingList, #pantryList {
  margin-top: 15px;
}

.jumbotron {
  background-image: url("http://www.kcet.org/living/food/assets/images/P1230083.JPG");
  background-size: 100%;

}
