.btn-first {
  border: 3px solid black;
  border-radius: 10px;
  height: 75px;
  text-align: center;
  font-size: 45px;
  border-spacing: inherit;
}

#shoppingForm, #pantryForm {
  display: none;
}

#shoppingList, #pantryList {
  margin-top: 15px;
}

li:hover {
  cursor: pointer;
}

.jumbotron {
  background-image: url("http://cdx.dexigner.com/article/19969/Impact_Fridge_gallery.jpg");
  background-size: 100%;

}
