.btn-first {
  border-radius: 10px;
  height: 75px;
  text-align: center;
  font-size: 40px;
  border-spacing: inherit;
  background-color: #88c0c3;
  text-shadow: -0.5px 0 #d9d9d9, 0 0.5px #d9d9d9, 0.5px 0 #d9d9d9, 0 -0.5px #d9d9d9;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: #003d66;
}

body {
  background-color: #a6a6a6;
}

.form-control {
  background-color : #F1F1F1;
}

#shoppingForm, #pantryForm {
  display: none;
}

#shoppingList, #pantryList {
  margin-top: 15px;
}

li:hover {
  cursor: pointer;
}

.jumbotron {
  background-image: url(../images/fridge.jpg);
  background-size: 100%;
  color: #003d66;
  background-repeat: no-repeat;
  background-position: bottom;
  text-indent: 90px;
}

#jumbo {
  text-shadow: -0.5px 0 #d9d9d9, 0 0.5px #d9d9d9, 0.5px 0 #d9d9d9, 0 -0.5px #d9d9d9;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  position: relative;
  z-index: 2;
}

#littleJumbo {
  text-shadow: -0.5px 0 #a6a6a6, 0 0.5px #a6a6a6, 0.5px 0 #a6a6a6, 0 -0.5px #a6a6a6;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.edit {
  margin: 14px 14px 14px 14px;
}
